<% provide(:title, "Invite") %>
<h1>Invitations</h1>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= form_for(:invite, url: search_path) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>

			<%= f.submit "Search", class: "btn btn-primary" %>
		<% end %>
	</div>

	<% if !(flash[:invite].nil?) %>
		<div class="col-md-4 col-md-offset-4">
			
			<%= form_for(:invite, url: invitations_path) do |f| %>
				<ul>
					<% result = Membership.select(:group_id).where(user_id: current_user.id, admin: true) %>
					<% result.each do |i| %>
						<% group_name = (Group.find_by(id: i['group_id'])).name %>
						<li>
							<%= f.label :group_id, class: "radiobutton" do %>
								<%= f.radio_button :group_id, i['group_id'] %>
								<span><%= group_name %></span><br>
							<% end %>
						</li>
					<%end%>
				</ul>

				<ul>
					<% flash[:invite].each do |id_hash| %>
						<li>
							<div class="row">

								<div class="col-md-8">
									<% user = User.find_by(id: id_hash['id'].to_i) %>
									<%= user.name %>
								</div>
								<div class="col-md-4">
									<%= f.hidden_field :id, :value => user.id %>
									<%= f.submit "Invite", class: "btn btn-primary" %>
								</div>
							</div>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	<% end %>
</div>