<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
	<a class="navbar-brand" href="#">QnA</a>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
		</form>

		<ul class="navbar-nav float-right">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Notifications
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<% invi_len = Invitation.joins(:group).select(:id, :group_id, :name).where(accepted: false, receiver_id: current_user.id).length %>
					<% req_len = Request.joins("INNER JOIN memberships ON requests.group_id = memberships.group_id").select(:id, :group_id, :sender_id).where("memberships.user_id = #{current_user.id} AND memberships.admin = true AND requests.granted IS NULL").length %>
					<%= link_to "Invitations (#{invi_len})", invitations_show_path, class: "dropdown-item" %>
					<%= link_to "Requests (#{req_len})", joins_show_path, class: "dropdown-item" %>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Group
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<%= link_to "My Groups", groups_path, class: "dropdown-item" %>	
					<div class="dropdown-divider"></div>	
					<%= link_to "Create Group", new_group_path, class: "dropdown-item" %>
					<%= link_to "Join Group", new_join_path, class: "dropdown-item" %>
					<%= link_to "Invite People", new_invitation_path, class: "dropdown-item" %>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Account
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<%= link_to "Profile", current_user, class: "dropdown-item" %>
					<%= link_to "Settings", '#', class: "dropdown-item disabled" %>
					<div class="dropdown-divider"></div>
					<%= link_to "Log out", logout_path, method: "delete", class: "dropdown-item" %>
				</div>
			</li>
		</ul>
	</div>
</nav>